## godot specific
*.translation
.mono/
.godot/

## this project specific 
export/*
!export/www/
export/www/*
!export/www/saves.php
addons/godot-git-plugin
save/*
!save/save-0-0-0-0h-Tuto.json

.vscode/