.import/
*.translation
export_presets.cfg
.mono/
.godot/
.godot/imported/
.godot/editor/
.godot/editor/*
export/*
!export/www/
export/www/*
!export/www/saves.php
addons/godot-git-plugin
save/*
!save/save-0-0-0-0h-Tuto.json
.vscode/